@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Navbar styles */
.navbar {
    z-index: 200;
}
.navbar-brand-font {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.375em;
    letter-spacing: 0.06em;
    color: #1B262C;
}
.navbar-nav-font .nav-link-font {
    font-weight: 500;
    color: #1B262C;
}
.navbar-nav-font .nav-link-dfont {
    font-weight: 300;
}
.navbar-nav-font {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 450;
    font-size: 1em;
    color: #1B262C;
}
.navbar-bg-custom {
    background-color: #FBFBFD !important;
}
.navbar-username-font {
    font-weight: 500;
    font-size: 0.75em;
    color: #1B262C;
}
.navbar-company-font {
    font-size: 0.625em;
    color: #1B262C 50%;
    opacity: 0.5;
}
.avatar {
    vertical-align: middle;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}