/* Component level changes */
.form-control {
    -webkit-border-radius: 10rem;
       -moz-border-radius: 10rem;
            border-radius: 10rem;
}
.supplier-custom-font {
    font-weight: 400;
    font-size: 0.875em;
    color: #0010119f;
}
.supplier-custom-link-font {
    font-weight: 400;
    font-size: 0.875em;
    color: #001011a2;
    text-decoration: none;
}
.supplier-custom-link-font:hover {
    font-weight: 400;
    font-size: 0.875em;
    color: #3f51b5;
    text-decoration: none;
    transition: 0.3s;
}

/* Supplier search */
.supplier-search-wrapper {
    background-color: white;
}
.search-btn-outline-custom {
    color: #3f51b59f;
    border-color: #3f51b59f;
    -webkit-border-radius: 10rem;
       -moz-border-radius: 10rem;
            border-radius: 10rem;
}
.search-btn-outline-custom:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5;
}
.search-badge-custom {
    font-weight: 500;
    font-size: 0.625em;
    background-color: #3F51B5;
    color: #fff;
    line-height: 2;
    /* padding-left: 12px; */
    padding: 2px 12px 2px 12px;
}
.search-badge-custom:hover {
    font-size: 0.625em;
    background-color: #4f64e0;
    color: #fff;
    line-height: 2;
}


/* Supplier information */
.supplier-header-font {
    font-weight: 500;
    font-size: 1.125em;
}
.supplier-badge-custom {
    font-weight: 400;
    font-size: 0.625em;
    background-color: #2889DF;
    color: #fff;
    line-height: 1.6;
    padding: 3px 8px 3px 8px;
}
.supplier-description-font {
    font-weight: 400;
    font-size: 0.625em;
    color: #00101180;
}
.supplier-categories-header-font {
    font-weight: 400;
    font-size: 0.875em;
    color: #00101180;
}

/* Supplier categories information */
.category-badge-custom {
    font-weight: 500;
    font-size: 0.625em;
    background-color: #3F51B5;
    color: #fff;
    line-height: 2;
    padding: 2px 12px 2px 12px;
}
.category-badge-custom:hover {
    font-size: 0.625em;
    background-color: #4f64e0;
    color: #fff;
    line-height: 2;
    transition: 0.3s;
}