/* Component level changes */
.supplier-custom-font {
    font-weight: 400;
    font-size: 0.875em;
    color: #0010119f;
}
.supplier-custom-link-font {
    font-weight: 400;
    font-size: 0.875em;
    color: #001011a2;
    text-decoration: none;
}
.supplier-custom-link-font:hover {
    font-weight: 400;
    font-size: 0.875em;
    color: #3f51b5;
    text-decoration: none;
    transition: 0.3s;
}

/* Search */
.search-wrapper {
    background-color: #FBFBFD !important;
    box-shadow:0 0px 4px 0 rgba(0,0,0,0.1),0 0px 10px 0 rgba(0,0,0,0.1) !important;
    border-radius: 4px;
}
.search-title {
    color: #AFB3B5;
    font-size: 0.8125em;
}
.search-input {
    border-radius: 4px;
}
.search-input::placeholder {
    color: #1B262C;
    opacity: 0.35;
    font-weight: 700;
    font-size: 12px;
}
.search-keyword-title {
    color: #AFB3B5;
    font-size: 0.8125em;
}
.search-box .input-group-prepend {
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    z-index:9;
}
.search-box .input-group-prepend:hover {
    background-color: #0F4C75;
}
.search-button:hover {
    background-color: #0F4C75;
}
.custom-keyword-add-button{
    background-color: #2889DF !important;
}
.custom-keyword-add-button{
    background-color: #2889DF !important;
}

/* Filter */
.filter-wrapper {
    background-color: #FBFBFD !important;
    box-shadow:0 0px 4px 0 rgba(0,0,0,0.1),0 0px 10px 0 rgba(0,0,0,0.1) !important;
    border-radius: 4px;
}
.filter-title {
    color: #AFB3B5;
    font-size: 0.8125em;
}
.filter-input {
    border-radius: 4px;
    color: #1B262C;
    opacity: 0.35;
    font-weight: 700;
    font-size: 12px;
}
.filter-btn {
    background-color: #2889DF !important;
    color: #FBFBFD !important;
}
.filter-btn:hover {
    background-color: #0F4C75 !important;
}

/* Keywords */
.keyword-badge {
    border-radius: 6px;
    background-color: #2889DF;
}
.keyword-badge:hover {
    border-radius: 6px;
    background-color: #0F4C75;
    cursor: pointer;
}
.keyword-text {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 0.625rem !important;
    font-weight: 600;
}

/* Supplier information */
.supplier-header-font {
    font-weight: 500;
    font-size: 1.125em;
}
.supplier-badge-custom {
    font-weight: 400;
    font-size: 0.625em;
    background-color: #2889DF;
    color: #fff;
    line-height: 1.6;
    padding: 3px 8px 3px 8px;
}
.supplier-description-font {
    font-weight: 400;
    font-size: 0.625em;
    color: #00101180;
}
.supplier-categories-header-font {
    font-weight: 400;
    font-size: 0.875em;
    color: #00101180;
}

/* Supplier categories information */
.category-badge-custom {
    font-weight: 500;
    font-size: 0.625em;
    background-color: #3F51B5;
    color: #fff;
    line-height: 2;
    padding: 2px 12px 2px 12px;
}
.category-badge-custom:hover {
    font-size: 0.625em;
    background-color: #4f64e0;
    color: #fff;
    line-height: 2;
    transition: 0.3s;
}

/* Supplier result */
.supplier-result-wrapper {
    background-color: #FBFBFD !important;
    box-shadow:0 0px 4px 0 rgba(0,0,0,0.1),0 0px 10px 0 rgba(0,0,0,0.1) !important;
    border-radius: 4px;
}
.supplier-result-title {
    color: #AFB3B5;
    font-size: 1.125rem;
    font-weight: 500;
}

/* Supplier */
.supplier-wrapper {
    background-color: #FFF !important;
    box-shadow:0 0px 4px 0 rgba(0,0,0,0.1),0 0px 10px 0 rgba(0,0,0,0.1) !important;
    border-radius: 4px;
}
.supplier-title {
    color: #AFB3B5;
    font-size: 0.8125em;
}
.supplier-company {
    color: #1B262C;
    font-size: 1.25rem;
    font-weight: 600;
}
.supplier-badge {
    border-radius: 6px;
    background-color: #E3F3E9;
}
.supplier-badge:hover {
    border-radius: 6px;
    background-color: #4EB673;
    color: #fff;
    transition: 0.3s;
}
.supplier-text {
    font-size: 0.5rem;
    color: #4EB673;
}
.supplier-information-text {
    color: #AFB3B5;
    font-size: 0.8125em;
}
.supplier-information-value {
    color: #1B262C;
    font-size: 0.8125em;
}

/* Categories */
.categories-title {
    color: #AFB3B5;
    font-size: 0.8125em;
}
.categories-badge {
    border-radius: 6px;
    background-color: #2889DF;
}
.categories-badge:hover {
    border-radius: 6px;
    background-color: #0F4C75;
    cursor: pointer;
}
.categories-text {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 0.625rem !important;
    font-weight: 600;
}
.categories-hit {
    background-color: #215ACE;
}
.supplier-detail-btn {
    background-color: #215ACE;
}
.supplier-contact-btn {
    background-color: #215ACE;
}

/* Responsive design */

/* Extra Small Devices, Phones */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .border-bottom-custom {
        border-bottom: 1px solid #dee2e6;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width : 768px) {
    .border-bottom-custom {
        border-bottom: 1px solid #dee2e6;
    }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .border-right-custom {
        border-right: 1px solid #dee2e6;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .border-right-custom {
        border-right: 1px solid #dee2e6;
    }
}