<div class="container border">
    <div class="sticky-top supplier-search-wrapper">
        <div class="row mt-3 mb-3">
            <div class="col-12 col-sm-6">
                <div class="row">
                    <div class="col-12 supplier-custom-font mb-1">Search</div>
                    <div class="col-12">
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" placeholder="Enter key words" aria-label="Search keywords" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary search-btn-outline-custom btn-sm" type="button" id="button-addon2">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 supplier-custom-font">
                        Current keywords:
                        <span class="badge badge-pill search-badge-custom mr-1 mt-1">Battery</span>
                        <span class="badge badge-pill search-badge-custom mr-1 mt-1">Li-ion</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 mt-2 mt-sm-0">
                <div class="row">
                    <div class="col-12 supplier-custom-font mb-1">Filter</div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Country</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Industry</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Categories</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <ul class="list-group mt-0 mb-3">
        <li class="row border-bottom mb-2" *ngFor="let supplier of supplierList">
            <div class="col-12 col-sm-6">
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-3 supplier-header-font">
                        {{supplier.supplierName}}
                    </div>
                    <div class="col-12 col-sm-8 mb-3">
                        <span class="badge badge-pill supplier-badge-custom mr-1">Recommended</span>
                        <span class="badge badge-pill supplier-badge-custom mr-1">Existing NDA</span>
                    </div>
                    <div class="col-12 supplier-description-font mb-2">
                        {{supplier.supplierDescription}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 mb-2 mb-sm-3">
                <div class="row">
                    <div class="col-4 supplier-categories-header-font mb-3">
                        Categories
                    </div>
                    <div class="col-12 supplier-categories-content-font">
                        <span class="badge badge-pill category-badge-custom mr-1 mt-1" *ngFor="let supplierCategories of supplier.supplierCategories">{{supplierCategories}}</span>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2 mb-1">
                <div class="row">
                    <div class="col-6 col-sm-2"><a href="" class="supplier-custom-link-font">More details</a></div>
                    <div class="col-6 col-sm-4 col-md-3"><a href="" class="supplier-custom-link-font">Contact supplier</a></div>
                </div>
            </div>
        </li>
    </ul>
</div>